# Ignore directories with example or temporary files
DMS_v1.docx
NIH Data management plans-summary.docx
NIH Data management plans.docx
Sample_DMS.xlsx
~$y_definitions.docx

# Ignore the R-Shiny folder
R-shiny
DMS_checklist_v1.html

# Ignore Mac OS specific files
.DS_Store
.Rproj.user
