# Ignore directories with example or temporary files
DMS_v1.docx
NIH Data management plans-summary.docx
NIH Data management plans.docx
Sample_DMS.xlsx

# Ignore the R-Shiny folder

# Ignore Mac OS specific files
.DS_Store
.Rproj.user
